<!DOCTYPE html>
<html>

<head>
    <title > 
        Legumicofruct
    </title> <!-- PUNCTUL 2  et 1-->

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
       <!-- PUNCTUL 9  et 1-->
    <meta name="keywords" content="Legumicofruct,fructe si legume proaspete,sănătatea,furnizori locali,
       productia locala,pachetele noastre promotionale,pachetele promotionale,"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <meta name="description" content="Magazin online de legume si fructe.LIVRARE IN 48 ORE!"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
    <%- include("../fragmente/head.ejs") %>

    <link rel="stylesheet" href="/resurse/css/Duotone.css" media="all">
    <link rel="stylesheet" href="/resurse/css/ReflexieText.css" media="all">

           
</head>

<body >

   
    
    <%- include("../fragmente/header.ejs") %>
    
    <main id="DevinoPartenerPrincipal" > 
        
       <section id="DevinoPartener">
            

            <section >
                <div id="text">Devino Partener
                <div id="text-reflectat">Devino Partener</div>
                </div>
                <br>
                <div id="Duotone"></div>
               

               
            </section>
    
        </section>

    </main>

    <%- include("../fragmente/footer.ejs") %>

    <!--ETAPA 2 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    

</body>
</html>