

#filtre_produse{
    margin-bottom: 20px;
}
.cal_nutritiva{
    display:flex;
}
.cal_nutritiva>p{
    margin-left: 10px;
   
}
#filtre_produse> h3{
        text-align: left;
}

#filtre_produse> label{
    margin-bottom: 15px;
    
}


.buttons{
    display: flexbox;
    text-align: center;
    
}

.grid-produse{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-gap:20px 20px;
    
    text-align: center;
}

.grid-produse .produs{
    border-radius: 40px;
    
    overflow: hidden;
    
}

.selecteaza-cos{
    display: inline-flex;
    justify-content: center;
    border: 5px solid var(--culoare_evidentiere2);
    border-radius: 10px;
    border-width: 10px;
    
    background-color: var(--culoare_evidentiere2);
}

.selecteaza-cos>input{
    margin-left: 5px;
    
}



.data_adaugare{
    text-transform: capitalize;
}

.info-prod{
    display: block;
    grid-area: f-info;
    margin-left: 10px;
}

.prefata-produs{
   display: block;
   grid-area: f-prefata;
   margin-right: 10px;
}

.container-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "f-prefata f-info";
    margin-top: 30px;
}

.categorie,.descriere,.pret,.calitate,.vitamine,.low_calorie{
   font-weight: bold;
   color:var(--culoare_border1);
}

#dialog-message_1,#dialog-message_2{
    color: red;
    margin-left: 5px;
   
  }
  #dialog-ok_1{
    margin-left: 10px;
   border-radius: 360px;
  }
  
  #input_nume{
    display: flex;
  }
  
  .c_vitamine{
    display: flex;
  }
  
  .c_vitamine label{
    margin-left: 10px;
  }