

#filtre_produse{
    margin-bottom: 20px;
}
.cal_nutritiva{
    display:flex;
}
.cal_nutritiva>p{
    margin-left: 10px;
   
}
#filtre_produse> h3{
        text-align: left;
}

#filtre_produse> label{
    margin-bottom: 15px;
    
}


.buttons{
    display: flexbox;
    text-align: center;
    
}

.grid-produse{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap:20px 20px;
    
    text-align: center;
}

.grid-produse .produs{
    border-radius: 40px;
    
    overflow: hidden;
    
}

.selecteaza-cos{
    display: inline-flex;
    justify-content: center;
    border: 5px solid var(--culoare_evidentiere2);
    border-radius: 10px;
    border-width: 10px;
    
    background-color: var(--culoare_evidentiere2);
}

.selecteaza-cos>input{
    margin-left: 5px;
    
}



.data_adaugare{
    text-transform: capitalize;
}

.info-prod{
    display: block;
    grid-area: f-info;
    margin-left: 10px;
}

.prefata-produs{
   display: block;
   grid-area: f-prefata;
   margin-right: 10px;
}

.container-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "f-prefata f-info";
    margin-top: 30px;
}

.categorie,.descriere,.pret,.calitate,.vitamine,.low_calorie,.data_produs{
   font-weight: bold;
   color:var(--culoare_border1);
}

#dialog-message_1,#dialog-message_2{
    color: red;
    margin-left: 5px;
   
  }
  #dialog-ok_1{
    margin-left: 10px;
   border-radius: 360px;
  }
  
  #input_nume{
    display: flex;
  }
  
  .c_vitamine,.radios{
    display: flex;
  }
  
  .c_vitamine label{
    margin-left: 10px;
  }

  
  
.row{
    margin-top: 20px;
}



.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nume_display,.radio_display{
    display: block;

}
.range{
    padding: 30px;
}

#label_range{
    display: flex;
}

.form-range{
    width: 60%;
    padding:10px;
    
}


.card,.list-group>li{
    background-color: var(--culoare_grid);
    color: white;
}

.selecteaza_card{
    background-color: var(--culoare_evidentiere2);
    font-size: 1.2rem;
    
   
}

.grid-card{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
  
    /* padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina); */
        
}

.produs_card{
    width: 100%;
    max-width: 20rem;
}

.card_smooth {
    opacity: 1;
    transform: translateY(0);
    animation: scaleEffect 0.5s ease-in-out forwards;
}

@keyframes scaleEffect {
    0% {
        transform: scale(0.5);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.sortare_dinamica{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}
.form-select-sm{
    text-align: center;
    width: 180px;
}

.sortare_dinamica>*{
 margin-left: 5px;
}

.PREVIEW{
    justify-content: space-between;
    display: flex;
}

.mbicon{
    margin-left: 6px;
}

.modal-content{
    background-color: var(--culoare_grid);
}

#modalIMG{
    width: 50%;
}
.modal-title{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.modal{
    z-index: 999999;
}