<link rel="stylesheet" href="/resurse/css/banner.css" media="all" type="text/css">
<footer><!-- PUNCTUL 4  si PUNCTUL 13 et 1-->  
    <a href="https://ro-piata.ro/" target="_blank" style="text-decoration: none;">Punct de referinta</a> <!-- PUNCTUL 11 et 1-->
    <section>
    <h4>Date de contact:</h4>
    <ul>     

        <!--ETAPA 2 TASK ICONITE STATICE-->
        
        <li><i class="fa-regular fa-envelope"></i>  <a href="mailto:ilieoctavian11@gmail.com " style="text-decoration: none;"> ilieoctavian11@gmail.com</a></li>
        <li><i class="fa-solid fa-phone"></i></i> <a href="tel:+40755628812" style="text-decoration: none;">+40755628812</a></li>
        <li><i class="fa-regular fa-map"></i> <a href="https://www.google.com/maps/search/Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank" style="text-decoration: none;">Academiei, nr. 14, București</a></li>
        <li><i class="fa-regular fa-message"></i> <a href="https://wa.me/+40755628812" style="text-decoration: none;">Ne poti lasa un mesaj aici</a></li>
    </ul>
    </section>
    <a href="#TitluPrincipal" id="LinkTop" ><div id="triunghi" bis_skin_checked="1" title="Inceputul Paginii"></div></a>
    <p style="font-style: italic;" > Autor: Ilie Octavian Tudor</p>
   
    <!--PUNCTUL 14 et 1-->
    <small>Copyright &copy;<time datetime="2023">2023</time> Legumicofruct. All rights reserved.</small>
    
    
</footer>
<div class="div_banner">
    <p class="banner"> Acest site este creat in <u>scopuri educationale / scolare.</u> Acceptati cookie-ul? <button id="ok_cookies" class="btn btn-outline-primary btn-sm">OK</button></p>
</div>