<div id="grid-galerie">
    <% let poze=0; 
        for ( let i=0; i< locals.imagini.length;i++) {
            const interval= locals.imagini[i].timp.split('-');
            const start=interval[0].split(":");
            const end=interval[1].split(":");
            const startHour= parseInt(start[0]);
            const startMinute=parseInt(start[1]);
            const endHour= parseInt(end[0]);
            const endMinute=parseInt(end[1]);
            const ourHour= new Date().getHours();
            const ourMinute= new Date().getMinutes();
            startTime= startHour*100+ startMinute;
            endTime= endHour*100+endMinute;
            ourTime=ourHour*100+ourMinute;
            if(ourTime>=startTime && ourTime<endTime){
                if(poze <5 || (poze>=7 && poze<12)){%>
                    <figure class="imagini_galerie">
                        <picture>
                            <source srcset="<%- locals.imagini[i].cale_imagine_mediu %>" media="(max-width:1100px)" />
                            <source srcset="<%- locals.imagini[i].cale_imagine_mic %>" media="(max-width:850px)" />

                            <img  src="<%- locals.imagini[i].cale_imagine %>" alt="<%locals.imagini[i].titlu%>">
                        </picture>
                        
                        <figcaption><%- locals.imagini[i].titlu %></figcaption>
                    </figure>

                <%}else if(poze<7){i--;%>
                <div class="white_space" ></div>
                 <%} %>  
              <%poze++;}
            }%>   
   
</div>

