<script src="/resurse/js/tema.js"></script>
<script src="/resurse/js/tema_2.js"></script>
<header ><!-- PUNCTUL 4 et 1-->
      
    <h1 id="TitluPrincipal">
        Legumicofruct
    </h1>
    
   
</header>

<p id="watermark" >Copyright Ilie <br> Octavian Tudor</p>

<nav> <!-- PUNCTUL 5 et 1-->


    <label id="hamburger" for="ch-menu">
        <img  src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="meniu">
        <li ><div id="Acasa" href="#PaginaPrincipala" style="text-decoration:solid" >Acasa</div> <!--MODIFICARE DIN <a> in <div> --><div id="acasa-mediu"><span class="fa-solid fa-house"></span></div>
            <ul>
                <li><a href="/#DespreNoi" style="text-decoration: none">Despre Noi</a></li>
                <li><a href="/#CumLivram" id="CumSeProcedeaza_nav" style="text-decoration: none">Cum se procedeaza?</a></li>
                <li><a href="/#PachetePromotionale" id="PachetePromotionale_nav" style="text-decoration: none">Pachete promotionale</a></li>
                <li><a href="/#ProduseReduse" style="text-decoration: none">Produse reduse</a></li>
                
            </ul>
            
        </li>

        <li><div href="#Produse" style="text-decoration: none">Produse</div>
            <ul>
                
                <li><a href="/produse_legumicofruct" style="text-decoration: none;">Toate</a></li>
                <% for (let opt of locals.optiuniMeniu) { %>
                    <li><a href="/produse_legumicofruct?tip=<%- opt.unnest %>" style="text-decoration: none;"><%- opt.unnest %></a></li>
                <% } %>
            </ul>
        </li>

        <li><a href="DevinoPartener" id="DevinoPartener_nav"style="text-decoration: none">Devino partener</a>
            
        </li>

        <li><div href="#Abonamente" style="text-decoration: none">Abonamente</div>

        </li>
        <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
            <li><div>Administrare</div>
                <ul>
                    <li><a href="/useri">Useri</a></li>
                    <li><a href="/grafice">Grafice</a></li>
                    <li><a href="/comenzi">Comenzi</a></li>
                </ul>
            </li>
        <% } %>
        <% if(locals.utilizator) { %>
            <li><div><%- locals.utilizator.username %></div>
                <ul>
                    <li><a href="/profil">Profil</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        <% } %>

        <% if(locals.utilizator) { %>
            <li><a href="/cos-virtual">Coșul meu</a></li>
            <% } else { %>
        <li><div href="#ContulMeu" style="text-decoration: none">Contul meu</div>
            <ul>
                <li><a href="/inregistrare" style="text-decoration: none">Inregistrare</a></li>
                <li><a href="/logare" id="CumSeProcedeaza_nav" style="text-decoration: none">Logare</a></li>
            </ul>
        </li>
        <%}%>
    </ul>
</nav>
<div class="aranjare_sub_meniu">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="tema" role="switch">
        <label class="form-check-label" for="tema">
        <i id="sun-icon" class="bi bi-sun-fill"></i>
        <i id="moon-icon" class="bi bi-moon-stars-fill d-none"></i>
        Schimba tema
        </label>
    </div>

    <div class="last_page">
        <label for="link_last_page" class="bi bi-box-arrow-up-left"></label>
        <a href="" id="link_last_page" style="color:white">Ultima pagina accesata de tine pe site-ul nostru.</a>
    </div>
    <div class="teme_bonus">
        <input type="radio" id="light" name="nume" value="Light">
        <label for="light"><div class="theme">Light</div></label><i class="fas fa-sun"></i>
    
        <input type="radio" id="dark" name="nume" value="Dark">
        <label for="dark"></i><div class="theme">Dark</div></label><i class="fas fa-moon"></i>
    
        <input type="radio" id="extra" name="nume" value="Extra">
        <label for="extra"> <div class="theme">Extra</div></label><i class="fas fa-car"></i>
        
        <input type="radio" id="cancel_theme" name="nume" value="cancel" checked >
        <label for="cancel_theme"> <div class="theme">Cancel</div></label><i class="fas fa-cancel"></i>
    
    </div>
</div>


